<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landing</title>
</head>
<body>
    <header>
        <ul>
            <li>
                <h1>This is home page</h1>
                <a href="{% url 'library' %}">library</a>
                <p>______________</p>
            </li>
            <li>
                <p>______________</p>
                <a href="{% url 'students' %}">students</a>
                <p>______________</p>
            </li>
            <li>
                <p>______________</p>
                <a href="{% url 'landing' %}">landing</a>
                <p>______________</p>
            </li>
        </ul>
    </header>
</body>
</html>