<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>librarys</title>
</head>
<body>
    <header>
        <ul>
            <li>
                <h1>landing</h1>
                {% if request.user.is_authenticated %}
                <p>______________</p>
                    <a href="{% url 'library' %}">library</a> | <a href="{% url 'students' %}">students</a> | <a href="{% url 'logout'%}">Log out</a>
                <p>______________</p>
                {% else %}
                    <a href="{% url 'registor'%}">Sign up</a> | <a href="{% url 'login'%}">Sig in</a>
                    <p>______________</p>
                    <a href="{% url 'library' %}">library</a> | <a href="{% url 'students' %}">students</a>
                {% endif %}
            </li>
            <li>
                <p>______________</p>
                <a href="{% url 'home' %}">Back</a>
            </li>
        </ul>
    </header>
</body>
</html>