<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>library</title>
</head>

<body>
    <header>
        <ul>
            <li>
                <p>____Library page__________</p>
                <a href="{% url 'landing' %}">landing</a>
                <p>______________</p>
                <form action="">
                    {%csrf_token%}
                    <input type="search" value="{{search}}" name="search" placeholder="search">
                    <button type="submit">search</button>
                </form>
            </li>
            <li>
                <div>
                    <h1>Books: </h1>
                    {% for book in books %}
                    <ul>
                        <li>
                            <h2>{{book.id}}. Title: <a href="{% url 'book-detail' book.id%}">{{book.title}}</a> </h2>
                        </li>
                    </ul>
                    {% endfor %}


                </div>
            </li>
            <li>
                <p>______________</p>
                <a href="{% url 'landing' %}">Back</a>
                <p>______________</p>
            </li>
        </ul>
    </header>
</body>

</html>