<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>students</title>
</head>
<body>
    <ul>
        <li>
            <p>_____Student page_________</p>
            {% for talaba in talabalar %}
            <a href="#">{{talaba.first_name}} {{talaba.last_name}}<br></a>
            <p>______________</p>
            {% endfor %}
            
            <a href="{% url 'home' %}">home</a>
            <p>______________</p>
        </li>
        <li>
            <p>______________</p>
            <a href="{% url 'library' %}">Back</a>
        </li>
    </ul>
</body>
</html>