<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>students</title>
</head>
<body>
    <ul>
        <li>
            <h1>_____Student page_________</h1>
            <h2>First names: </h2>
            {% for talaba in talabalar %}
            <a href="#">{{talaba.id}}.{{talaba.first_name}}<br></a>
            <p>______________</p>
            {% endfor %}
            <p>______________</p>
        </li>
        <li>
            <p>______________</p>
            <a href="{% url 'home' %}">Back</a>
        </li>
    </ul>
</body>
</html>